.context/wizard-prompts/model-post-simples.json
{
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -400,
          -128
        ],
        "id": "ea927038-c366-457a-a1c8-a300fb8823b1",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "job_id",
                "value": "={{ $json.body?.job_id || $json.job_id || '' }}"
              },
              {
                "name": "tema",
                "value": "={{ $json.body?.tema || $json.tema || '' }}"
              },
              {
                "name": "nicho",
                "value": "={{ $json.body?.nicho || $json.nicho || '' }}"
              },
              {
                "name": "tom",
                "value": "={{ $json.body?.tom || $json.tom || 'educativo_didatico' }}"
              },
              {
                "name": "estilo",
                "value": "={{ $json.body?.estilo || $json.estilo || 'direto' }}"
              },
              {
                "name": "objetivo",
                "value": "={{ $json.body?.objetivo || $json.objetivo || 'educacao' }}"
              },
              {
                "name": "tipo_post",
                "value": "={{ $json.body?.tipo_post || $json.tipo_post || 'post_simples' }}"
              },
              {
                "name": "tipo_capa",
                "value": "={{ $json.body?.tipo_capa || $json.tipo_capa || 'dark_mode' }}"
              },
              {
                "name": "cta",
                "value": "={{ $json.body?.cta || $json.cta || '' }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $json.body?.timestamp || $json.timestamp || '' }}"
              },
              {
                "name": "user_id",
                "value": "={{ $json.body?.user_id || $json.user_id || '' }}"
              },
              {
                "name": "user_email",
                "value": "={{ $json.body?.user_email || $json.user_email || '' }}"
              },
              {
                "name": "user_name",
                "value": "={{ $json.body?.user_name || $json.user_name || '' }}"
              },
              {
                "name": "model_planner",
                "value": "openai/gpt-4.1-mini"
              },
              {
                "name": "model_synthesizer",
                "value": "openai/gpt-4.1"
              },
              {
                "name": "model_writer",
                "value": "openai/gpt-4.1"
              }
            ]
          },
          "options": {}
        },
        "id": "30f90835-9524-40f9-9f17-893439846c18",
        "name": "Organizar Dados",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          -176,
          -128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "HTTP-Referer",
                "value": "https://zoryon.dev/"
              },
              {
                "name": "X-Title",
                "value": "n8n - Post Simples Planner"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ \n  ({\n  \"model\": $json.model_planner || \"openai/gpt-4.1-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"# RESEARCH PLANNER — POST SIMPLES v1.0\\n\\n## PAPEL\\nVocê é um Research Planner especializado em pesquisa web PROFUNDA para criação de posts únicos virais no Instagram Brasil.\\n\\n## OBJETIVO\\nGerar um JSON de pesquisa que maximize a DENSIDADE e QUALIDADE dos insumos para criar:\\n- Uma HEADLINE impactante (imagem)\\n- Uma LEGENDA rica e acionável (texto)\\n\\n## FILOSOFIA DE PESQUISA\\nNão queremos resultados genéricos. Queremos:\\n- DADOS CONCRETOS (números, benchmarks, estatísticas reais)\\n- EXEMPLOS REAIS (empresas, pessoas, casos documentados)\\n- ERROS DOCUMENTADOS (o que não funciona e por quê)\\n- GANCHOS EMOCIONAIS (frases de impacto, contradições)\\n- TENDÊNCIAS ATUAIS (o que mudou recentemente)\\n\\n## ESTRATÉGIA DE QUERIES (5 QUERIES)\\n\\n### CAMADA 1 — FUNDAÇÃO (2 queries)\\n- Query ampla sobre o tema (overview)\\n- Query sobre estado atual/tendências\\n\\n### CAMADA 2 — PROFUNDIDADE (2 queries)\\n- Erros comuns / o que evitar\\n- Dados / métricas / benchmarks\\n\\n### CAMADA 3 — DIFERENCIAÇÃO (1 query)\\n- Ângulo contraintuitivo ou polêmico\\n\\n## REGRAS DE QUALIDADE\\n\\n1. Queries em PT-BR exceto quando termo técnico exige inglês\\n2. IMPORTANTE: Queries devem ser SIMPLES e CURTAS (max 8 palavras)\\n3. Evitar caracteres especiais nas queries\\n4. Evitar queries genéricas tipo 'o que é X'\\n5. Priorizar queries que retornam DADOS, não opiniões\\n\\n## OUTPUT\\nRetorne APENAS o JSON válido seguindo o schema.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"BRIEFING DO POST SIMPLES:\\n\\nTema: \" + $json.tema + \"\\nNicho: \" + $json.nicho + \"\\nObjetivo: \" + $json.objetivo + \"\\nTom: \" + $json.tom + \"\\nEstilo: \" + $json.estilo + \"\\nCTA desejado: \" + ($json.cta || 'Não especificado') + \"\\n\\nCONTEXTO:\\n- Público: Brasileiros no Instagram\\n- Formato: Post único (1 imagem + legenda rica)\\n- Objetivo: Parar scroll, gerar saves e comentários\\n\\nDIRETRIZES:\\n1. Gere 5 queries estratégicas seguindo as 3 camadas\\n2. Pelo menos 1 query focada em DADOS/MÉTRICAS\\n3. Pelo menos 1 query focada em ERROS/RISCOS\\n4. QUERIES CURTAS E SIMPLES (max 8 palavras cada)\\n\\nGere o JSON de pesquisa agora.\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 1000,\n  \"response_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"name\": \"post_simples_planner_v1\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"topic\": { \"type\": \"string\" },\n          \"niche\": { \"type\": \"string\" },\n          \"objective\": { \"type\": \"string\" },\n          \"time_window_days\": { \"type\": \"number\" },\n          \"queries\": {\n            \"type\": \"array\",\n            \"minItems\": 4,\n            \"maxItems\": 6,\n            \"items\": {\n              \"type\": \"object\",\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"q\": { \"type\": \"string\" },\n                \"lang\": { \"type\": \"string\", \"enum\": [\"pt\", \"en\"] },\n                \"intent\": { \"type\": \"string\", \"enum\": [\"overview\", \"metrics\", \"risks\", \"trends\", \"contrarian\"] },\n                \"layer\": { \"type\": \"string\", \"enum\": [\"foundation\", \"depth\", \"differentiation\"] },\n                \"priority\": { \"type\": \"number\" }\n              },\n              \"required\": [\"q\", \"lang\", \"intent\", \"layer\", \"priority\"]\n            }\n          },\n          \"prefer_domains\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"avoid_domains\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"research_focus\": { \"type\": \"string\" }\n        },\n        \"required\": [\"topic\", \"niche\", \"objective\", \"time_window_days\", \"queries\", \"prefer_domains\", \"avoid_domains\", \"research_focus\"]\n      }\n    }\n  }\n}) \n}}",
          "options": {}
        },
        "id": "f0bcb0a5-1c6e-4043-933e-73f1799dc7fb",
        "name": "OpenRouter Planner",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          32,
          -128
        ]
      },
      {
        "parameters": {
          "jsCode": "const prepared = $('Organizar Dados').first().json;\nconst content = $json?.choices?.[0]?.message?.content;\n\nlet planner;\ntry {\n  planner = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  planner = { parse_error: true, raw_content: content };\n}\n\nreturn [{\n  json: {\n    ok: true,\n    job_id: prepared.job_id,\n    input: prepared,\n    planner,\n    openrouter_raw: $json\n  }\n}];"
        },
        "id": "da741cf3-77cd-4bc7-94e9-540bf38b3133",
        "name": "Parse Planner",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          -128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $('Organizar Dados').first().json.tema }} {{ $('Organizar Dados').first().json.nicho }}\",\n  \"search_depth\": \"advanced\",\n  \"include_answer\": true,\n  \"max_results\": 8\n}",
          "options": {}
        },
        "id": "a3a2fe08-4dd2-48ae-8ca0-b137586b6f60",
        "name": "Tavily Search Inicial",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          464,
          -128
        ]
      },
      {
        "parameters": {
          "jsCode": "// Extrai queries do planner com fallback\nconst src = $('Parse Planner').first().json;\nconst org = $('Organizar Dados').first().json;\n\nlet plan = src.planner || {};\n\nif (typeof plan === 'string') {\n  try { plan = JSON.parse(plan); } catch (e) { plan = {}; }\n}\n\n// Se não tem queries, cria fallback\nif (!plan.queries || !Array.isArray(plan.queries) || plan.queries.length === 0) {\n  const tema = org.tema || 'pesquisa geral';\n  const nicho = org.nicho || 'negócios';\n  \n  plan.queries = [\n    { q: tema, lang: 'pt', intent: 'overview', layer: 'foundation', priority: 1 },\n    { q: `${tema} estatísticas dados`, lang: 'pt', intent: 'metrics', layer: 'depth', priority: 2 },\n    { q: `${tema} erros comuns`, lang: 'pt', intent: 'risks', layer: 'depth', priority: 3 },\n    { q: `${tema} tendências 2024 2025`, lang: 'pt', intent: 'trends', layer: 'foundation', priority: 4 },\n    { q: `${tema} ${nicho} insights`, lang: 'pt', intent: 'contrarian', layer: 'differentiation', priority: 5 }\n  ];\n}\n\n// Ordena por layer e priority\nconst layerOrder = { 'foundation': 1, 'depth': 2, 'differentiation': 3 };\nconst sortedQueries = [...plan.queries].sort((a, b) => {\n  const layerDiff = (layerOrder[a.layer] || 99) - (layerOrder[b.layer] || 99);\n  if (layerDiff !== 0) return layerDiff;\n  return (a.priority || 99) - (b.priority || 99);\n});\n\n// Seleciona as 5 melhores\nconst selectedQueries = sortedQueries.slice(0, 5);\n\n// Sanitiza queries\nconst sanitizeQuery = (q) => {\n  if (!q || typeof q !== 'string') return 'pesquisa geral';\n  return q\n    .replace(/[\\\"\\\\]/g, ' ')\n    .replace(/[\\n\\r\\t]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 80);\n};\n\nreturn selectedQueries.map((query, index) => ({\n  json: {\n    query_index: index + 1,\n    query_text: sanitizeQuery(query.q),\n    query_lang: query.lang || 'pt',\n    query_intent: query.intent || 'overview',\n    query_layer: query.layer || 'foundation',\n    query_priority: query.priority || 1,\n    prefer_domains: (plan.prefer_domains || []).slice(0, 5),\n    avoid_domains: (plan.avoid_domains || []).slice(0, 5),\n    topic: plan.topic || org.tema,\n    niche: plan.niche || org.nicho,\n    time_window_days: plan.time_window_days || 90,\n    research_focus: plan.research_focus || org.tema\n  }\n}));"
        },
        "id": "369cdb7a-c5fa-43d2-8f11-aee2ce78ab42",
        "name": "Extrair Queries",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          -128
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "7e91cfac-1219-416e-a66e-c75faf56c894",
        "name": "Loop Queries",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          912,
          -128
        ]
      },
      {
        "parameters": {
          "amount": 2
        },
        "id": "25ff1d4e-a0a6-41f7-9bd4-146aa7550179",
        "name": "Delay 2s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1136,
          -16
        ],
        "webhookId": "01fc7585-495b-4012-8e1d-f5d9aeca7a8c"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (function() {\n  const q = $json.query_text || 'pesquisa geral';\n  const timeWindow = $json.time_window_days || 90;\n  \n  return JSON.stringify({\n    \"api_key\": $env.TAVILY_API_KEY || \"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\",\n    \"query\": q,\n    \"search_depth\": \"advanced\",\n    \"topic\": \"general\",\n    \"include_answer\": true,\n    \"include_images\": false,\n    \"include_raw_content\": false,\n    \"max_results\": 10,\n    \"days\": timeWindow\n  });\n})() }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "2415b26e-1ec4-413d-9d41-3a3d68d54f68",
        "name": "Tavily Search Loop",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1344,
          48
        ]
      },
      {
        "parameters": {
          "jsCode": "// Combina resultado Tavily com metadados da query\nconst tavily = $input.first().json;\nconst queryMeta = $('Loop Queries').first().json;\n\nconst enrichedResults = (tavily.results || []).map(r => ({\n  title: r.title || '',\n  url: r.url || '',\n  content: r.content || '',\n  score: r.score || 0\n}));\n\nreturn {\n  query_index: queryMeta.query_index,\n  query_text: queryMeta.query_text,\n  query_intent: queryMeta.query_intent,\n  query_layer: queryMeta.query_layer,\n  answer: tavily.answer || '',\n  results: enrichedResults,\n  result_count: enrichedResults.length\n};"
        },
        "id": "e128fdee-889e-4fd2-9d78-cafe3fc44129",
        "name": "Processar Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1584,
          128
        ]
      },
      {
        "parameters": {
          "jsCode": "// Consolida todos os resultados de pesquisa\nconst items = $input.all();\nconst orgData = $('Parse Planner').first().json;\nconst inputData = $('Organizar Dados').first().json;\n\nlet plan = orgData.planner || {};\nif (typeof plan === 'string') {\n  try { plan = JSON.parse(plan); } catch (e) { plan = {}; }\n}\n\n// Organizar por intent e layer\nconst researchByIntent = {};\nconst researchByLayer = { foundation: [], depth: [], differentiation: [] };\nconst allSources = [];\nconst allAnswers = [];\nconst allContents = [];\n\nfor (const item of items) {\n  const data = item.json || {};\n  const intent = data.query_intent || 'unknown';\n  const layer = data.query_layer || 'unknown';\n\n  if (typeof data.answer === 'string' && data.answer.trim()) {\n    allAnswers.push({ intent, layer, query: data.query_text, answer: data.answer.trim() });\n  }\n\n  const results = Array.isArray(data.results) ? data.results : [];\n  if (!researchByIntent[intent]) researchByIntent[intent] = [];\n\n  for (const r of results) {\n    const entry = { ...r, source_intent: intent, source_layer: layer, source_query: data.query_text };\n    researchByIntent[intent].push(entry);\n    if (researchByLayer[layer]) researchByLayer[layer].push(entry);\n    if (r?.url && !allSources.includes(r.url)) allSources.push(r.url);\n    if (r?.content) {\n      allContents.push({ title: r.title, content: r.content, score: r.score, intent, layer });\n    }\n  }\n}\n\n// Resumo por layer\nconst summaryByLayer = {};\nfor (const layer of ['foundation', 'depth', 'differentiation']) {\n  const layerAnswers = allAnswers.filter(a => a.layer === layer);\n  if (layerAnswers.length > 0) {\n    summaryByLayer[layer] = layerAnswers.map(a => `[${a.intent.toUpperCase()}] ${a.answer}`).join('\\n\\n');\n  }\n}\n\n// Consolidar answers\nconst consolidatedAnswers = allAnswers\n  .map(a => `[${a.layer.toUpperCase()} / ${a.intent.toUpperCase()}]:\\n${a.answer}`)\n  .join('\\n\\n---\\n\\n');\n\n// Top conteúdos\nconst topContents = allContents\n  .sort((a, b) => (b.score || 0) - (a.score || 0))\n  .slice(0, 10)\n  .map(r => {\n    const snippet = (r.content || '').slice(0, 400);\n    return `[${r.layer}/${r.intent}] ${r.title}:\\n${snippet}${snippet.length >= 400 ? '...' : ''}`;\n  })\n  .join('\\n\\n');\n\n// Dados/números\nconst dataPoints = allContents\n  .filter(c => c.intent === 'metrics' || c.content.match(/\\d+%|\\d+\\s*(mil|milhões|bilhões|x|vezes)/gi))\n  .slice(0, 5)\n  .map(c => c.content.slice(0, 300));\n\n// Erros/riscos\nconst risksContent = allContents\n  .filter(c => c.intent === 'risks')\n  .slice(0, 3)\n  .map(c => c.content.slice(0, 400));\n\nconst totalResults = items.reduce((acc, i) => acc + (i.json?.result_count || 0), 0);\n\nreturn [{\n  json: {\n    ...orgData,\n    input: inputData,\n    research_plan: {\n      topic: plan.topic || inputData.tema,\n      niche: plan.niche || inputData.nicho,\n      research_focus: plan.research_focus,\n      queries_planned: plan.queries?.length || 0,\n      queries_executed: items.length\n    },\n    research_raw: {\n      summary: consolidatedAnswers,\n      summary_by_layer: summaryByLayer,\n      top_contents: topContents,\n      data_points: dataPoints,\n      risks_found: risksContent,\n      by_intent: researchByIntent,\n      by_layer: researchByLayer,\n      sources: allSources.slice(0, 15),\n      total_results: totalResults,\n      all_answers: allAnswers\n    }\n  }\n}];"
        },
        "id": "e7847161-ba9d-4408-81ce-7bf9c5ffb280",
        "name": "Consolidar Pesquisa",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          -368
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "HTTP-Referer",
                "value": "https://zoryon.dev/"
              },
              {
                "name": "X-Title",
                "value": "n8n - Post Simples Synthesizer"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{(function () {\n  const data = $json;\n  const raw = data.research_raw || {};\n  const plan = data.research_plan || {};\n  const input = data.input || {};\n  \n  return {\n    model: input.model_synthesizer || \"openai/gpt-4.1\",\n    temperature: 0.25,\n    max_tokens: 2000,\n    messages: [\n      {\n        role: \"system\",\n        content: \"# RESEARCH SYNTHESIZER — POST SIMPLES v1.0\\n\\nVocê sintetiza pesquisa em INSIGHTS ACIONÁVEIS para criar um post único viral.\\n\\n## SUA MISSÃO\\nTransformar dados brutos em insumos para:\\n1. HEADLINE MATADORA (imagem)\\n2. LEGENDA RICA (texto completo com valor)\\n\\n## O QUE EXTRAIR\\n\\n### 1. DADOS CONCRETOS (para headline e legenda)\\n- Estatísticas, números, percentuais\\n- Benchmarks de mercado\\n- SÓ inclua se estiver na pesquisa\\n\\n### 2. GANCHOS DE IMPACTO (para headline)\\n- Frases que PARAM o scroll\\n- Contradições interessantes\\n- Insights contraintuitivos\\n- Perguntas provocativas\\n\\n### 3. ERROS COMUNS (para legenda)\\n- O que NÃO funciona\\n- Armadilhas comuns\\n- Objeções frequentes\\n\\n### 4. FRAMEWORKS (para legenda)\\n- Processos passo-a-passo\\n- Metodologias citadas\\n- Checklists\\n\\n### 5. EXEMPLOS REAIS (para legenda)\\n- Casos de sucesso/fracasso\\n- Empresas mencionadas\\n- Situações específicas\\n\\n## REGRAS\\n- Seja ESPECÍFICO (nomes, números)\\n- NÃO invente dados\\n- Se não encontrou, diga 'Não encontrado'\\n- Priorize o que gera ENGAJAMENTO\\n\\n## OUTPUT\\nRetorne JSON estruturado com cada categoria.\"\n      },\n      {\n        role: \"user\",\n        content: \"CONTEXTO DO POST:\\nTema: \" + (plan.topic || input.tema || 'não especificado') + \"\\nNicho: \" + (plan.niche || input.nicho || 'geral') + \"\\nFoco: \" + (plan.research_focus || 'geral') + \"\\n\\n---\\n\\nRESUMOS POR CAMADA:\\n\\n### FUNDAÇÃO:\\n\" + (raw.summary_by_layer?.foundation || 'Não disponível') + \"\\n\\n### PROFUNDIDADE:\\n\" + (raw.summary_by_layer?.depth || 'Não disponível') + \"\\n\\n### DIFERENCIAÇÃO:\\n\" + (raw.summary_by_layer?.differentiation || 'Não disponível') + \"\\n\\n---\\n\\nTOP CONTEÚDOS:\\n\" + (raw.top_contents || 'Não disponível') + \"\\n\\n---\\n\\nDADOS/MÉTRICAS:\\n\" + ((raw.data_points || []).join('\\n\\n') || 'Não disponível') + \"\\n\\n---\\n\\nRISCOS/ERROS:\\n\" + ((raw.risks_found || []).join('\\n\\n') || 'Não disponível') + \"\\n\\n---\\n\\nFONTES:\\n\" + ((raw.sources || []).slice(0, 10).join('\\n') || 'Não disponível') + \"\\n\\n---\\n\\nSintetize para criar um POST SIMPLES viral.\"\n      }\n    ],\n    response_format: {\n      type: \"json_schema\",\n      json_schema: {\n        name: \"post_simples_synthesis_v1\",\n        strict: true,\n        schema: {\n          type: \"object\",\n          additionalProperties: false,\n          properties: {\n            dados_concretos: {\n              type: \"array\",\n              items: {\n                type: \"object\",\n                additionalProperties: false,\n                properties: {\n                  dado: { type: \"string\" },\n                  fonte: { type: \"string\" },\n                  uso_sugerido: { type: \"string\" }\n                },\n                required: [\"dado\", \"fonte\", \"uso_sugerido\"]\n              }\n            },\n            ganchos_headline: {\n              type: \"array\",\n              items: {\n                type: \"object\",\n                additionalProperties: false,\n                properties: {\n                  gancho: { type: \"string\" },\n                  tipo: { type: \"string\" },\n                  potencial_viral: { type: \"string\" }\n                },\n                required: [\"gancho\", \"tipo\", \"potencial_viral\"]\n              }\n            },\n            erros_comuns: {\n              type: \"array\",\n              items: {\n                type: \"object\",\n                additionalProperties: false,\n                properties: {\n                  erro: { type: \"string\" },\n                  consequencia: { type: \"string\" },\n                  como_evitar: { type: \"string\" }\n                },\n                required: [\"erro\", \"consequencia\", \"como_evitar\"]\n              }\n            },\n            frameworks: {\n              type: \"array\",\n              items: {\n                type: \"object\",\n                additionalProperties: false,\n                properties: {\n                  nome: { type: \"string\" },\n                  descricao: { type: \"string\" },\n                  passos: { type: \"array\", items: { type: \"string\" } }\n                },\n                required: [\"nome\", \"descricao\", \"passos\"]\n              }\n            },\n            exemplos_reais: {\n              type: \"array\",\n              items: {\n                type: \"object\",\n                additionalProperties: false,\n                properties: {\n                  exemplo: { type: \"string\" },\n                  contexto: { type: \"string\" },\n                  aprendizado: { type: \"string\" }\n                },\n                required: [\"exemplo\", \"contexto\", \"aprendizado\"]\n              }\n            },\n            resumo_executivo: { type: \"string\" },\n            sugestao_headline: { type: \"string\" },\n            sugestao_angulo_legenda: { type: \"string\" }\n          },\n          required: [\n            \"dados_concretos\",\n            \"ganchos_headline\",\n            \"erros_comuns\",\n            \"frameworks\",\n            \"exemplos_reais\",\n            \"resumo_executivo\",\n            \"sugestao_headline\",\n            \"sugestao_angulo_legenda\"\n          ]\n        }\n      }\n    }\n  };\n})()}}",
          "options": {}
        },
        "id": "a1dc1258-668e-490e-93c9-f32eed286081",
        "name": "Research Synthesizer",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1184,
          -368
        ]
      },
      {
        "parameters": {
          "jsCode": "// Parse do Synthesizer e prepara objeto research formatado\nconst prev = $('Consolidar Pesquisa').first().json;\nconst synthRaw = $json;\n\nlet synthesis;\ntry {\n  const content = synthRaw?.choices?.[0]?.message?.content;\n  synthesis = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  synthesis = { parse_error: true, raw: synthRaw };\n}\n\n// Monta objeto research formatado para os Writers\nconst research = {\n  // Resumo executivo\n  summary: synthesis.resumo_executivo || prev.research_raw?.summary || '',\n  \n  // Sugestões específicas para post simples\n  headline_suggestion: synthesis.sugestao_headline || '',\n  legenda_angle: synthesis.sugestao_angulo_legenda || '',\n  \n  // Ganchos para headline\n  hooks: (synthesis.ganchos_headline || []).map(g => \n    `• [${g.tipo}] ${g.gancho} (Potencial: ${g.potencial_viral})`\n  ).join('\\n'),\n  \n  // Dados concretos\n  concrete_data: (synthesis.dados_concretos || []).map(d => \n    `• ${d.dado} (Fonte: ${d.fonte}) — Uso: ${d.uso_sugerido}`\n  ).join('\\n'),\n  \n  // Erros comuns\n  errors: (synthesis.erros_comuns || []).map(e => \n    `• ERRO: ${e.erro}\\n  Consequência: ${e.consequencia}\\n  Evitar: ${e.como_evitar}`\n  ).join('\\n\\n'),\n  \n  // Frameworks\n  frameworks: (synthesis.frameworks || []).map(f => \n    `• ${f.nome}: ${f.descricao}\\n  Passos: ${f.passos.join(' → ')}`\n  ).join('\\n\\n'),\n  \n  // Exemplos reais\n  examples: (synthesis.exemplos_reais || []).map(e => \n    `• ${e.exemplo}\\n  Contexto: ${e.contexto}\\n  Aprendizado: ${e.aprendizado}`\n  ).join('\\n\\n'),\n  \n  // Sources\n  sources: prev.research_raw?.sources || []\n};\n\nreturn [{\n  json: {\n    ...prev,\n    synthesis,\n    research\n  }\n}];"
        },
        "id": "6467edce-b9ec-458f-849b-988a43fe8e24",
        "name": "Parse Synthesis",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1456,
          -368
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.input.tipo_capa }}",
                      "rightValue": "dark_mode",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "858b0c01-64ff-4fde-ad29-42e24aaecad1"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "dark_mode"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.input.tipo_capa }}",
                      "rightValue": "white_mode",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "49a562dd-21ff-499a-9b7b-7a556b613211"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "white_mode"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.input.tipo_capa }}",
                      "rightValue": "twitter",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "e36ffc38-52fe-4adc-832d-dc97950de984"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "twitter"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.input.tipo_capa }}",
                      "rightValue": "super_headline",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "06beeb34-5501-4689-9689-5aeeba5c6013"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "super_headline"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.input.tipo_capa }}",
                      "rightValue": "aleatorio",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "f3b8e6c5-71c8-417b-80e2-d0fb90376c01"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aleatorio"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "bc1b8044-b02b-406e-9eb3-49d9f2dadfc2",
        "name": "Switch Tipo Capa",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1776,
          -432
        ]
      },
      {
        "parameters": {
          "jsCode": "// Escolhe tipo aleatório\nconst input = $input.first().json;\nconst tipos = ['dark_mode', 'white_mode', 'twitter', 'super_headline'];\nconst tipoEscolhido = tipos[Math.floor(Math.random() * tipos.length)];\n\nreturn {\n  json: {\n    ...input,\n    input: {\n      ...input.input,\n      tipo_capa: tipoEscolhido,\n      tipo_capa_original: 'aleatorio'\n    }\n  }\n};"
        },
        "id": "7a089552-6429-42e7-91af-a3b2b4b16666",
        "name": "Escolher Aleatório",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "HTTP-Referer",
                "value": "https://zoryon.dev/"
              },
              {
                "name": "X-Title",
                "value": "n8n - Post Simples Writer Dark"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{(function () {\n  const data = $json;\n  const input = data.input || {};\n  const research = data.research || {};\n  const TONS = {\n    'educativo_didatico': 'Tom educativo e didático. Explique de forma clara, use analogias, seja acessível mas não simplista.',\n    'inspiracional': 'Tom inspiracional e motivador. Linguagem que eleva e inspira ação, histórias de superação.',\n    'provocativo': 'Tom provocativo e desafiador. Questione o status quo, perguntas retóricas, desconforto produtivo.',\n    'autoritario': 'Tom de autoridade e expertise. Demonstre conhecimento profundo, use dados, seja assertivo.',\n    'casual': 'Tom casual e conversacional. Como conversa com amigo, linguagem do dia a dia.',\n    'urgente': 'Tom de urgência. Senso de importância imediata, consequências de não agir.'\n  };\n  const ESTILOS = {\n    'direto': 'Estilo direto ao ponto. Frases curtas e impactantes. Sem rodeios.',\n    'narrativo': 'Estilo narrativo. Conte uma história, crie conexão emocional.',\n    'tecnico': 'Estilo técnico. Use terminologia do nicho, seja preciso, dados específicos.',\n    'poetico': 'Estilo poético. Metáforas, ritmo nas frases, linguagem sensorial.',\n    'informativo': 'Estilo informativo. Fatos claros, bem estruturado, fácil de digerir.'\n  };\n  const tomInstrucao = TONS[input.tom] || TONS['educativo_didatico'];\n  const estiloInstrucao = ESTILOS[input.estilo] || ESTILOS['direto'];\n  const systemPrompt = `# ZORYON — POST SIMPLES WRITER (DARK MODE) v2.1\n\nVocê cria posts para Instagram no estilo DARK MODE.\nVisual escuro, elegante, tipografia forte com destaque em cor vibrante.\n\n## ELEMENTOS FIXOS (não gere):\n- Fundo escuro (#0a0a0a)\n- Header: ZORYON | IA FIRST\n- Destaque em turquesa/ciano\n- CTA: \"LEIA A LEGENDA\"\n- Footer: @o.jonas.silva\n\n## ELEMENTOS QUE VOCÊ GERA:\n\n1. **HEADLINE** - Título principal com destaque\n   - Max 12 palavras\n   - Use *asteriscos* para marcar o DESTAQUE (ficará em COR + ITÁLICO)\n   - O destaque deve ser a parte mais impactante/emocional\n   - Exemplo: \"O segredo que *ninguém te conta* sobre investimentos\"\n\n2. **DESCRICAO** - Complemento do título\n   - 2-3 frases curtas\n   - Max 40 palavras\n   - Expande a ideia do título\n   - Gera curiosidade para ler a legenda\n\n3. **SUBTITULO** - Gancho final\n   - 1-2 frases\n   - Max 25 palavras\n   - Reforça a mensagem ou adiciona novo ângulo\n   - Pode ser pergunta, estatística ou afirmação forte\n\n4. **LEGENDA** - Texto completo para Instagram\n   - 1200-1800 caracteres (DENSA)\n   - Estruturada em blocos claros\n   - 3-5 hashtags no final\n\n## REGRAS DE ESCRITA ZORYON\n\n### PROIBIDO:\n- Travessões longos (—) usar vírgula ou ponto\n- Linguagem robótica ou genérica de IA\n- Frases clichês tipo \"nesse artigo vamos explorar\"\n- Expressões vazias tipo \"é importante ressaltar\"\n- Tom professoral ou distante\n- Começar com \"Você sabia que...\", \"A verdade sobre...\"\n\n### OBRIGATÓRIO:\n- Linguagem direta, humana, como conversa real\n- Frases curtas e ritmadas\n- Dados concretos (números, %, exemplos reais)\n- Tom de quem já passou por isso e está compartilhando\n- Gerar identificação imediata\n- Usar \"você\" diretamente\n- O destaque (*texto*) deve ser EMOCIONALMENTE carregado\n\n### ESTRUTURA DA LEGENDA:\n\nA legenda deve ter 5 blocos separados por linha em branco:\n\nHOOK (1-2 frases que param o scroll)\n\nCONTEXTO (por que isso importa agora, o problema real)\n\nCONTEÚDO (dados, exemplos práticos, o \"como\")\n\nINSIGHT (a grande sacada, o que muda o jogo)\n\nCTA + HASHTAGS\n\n## TOM E ESTILO\n${tomInstrucao}\n${estiloInstrucao}\n\n## OUTPUT\nRetorne APENAS JSON válido.`;\n\n  const userPrompt = `BRIEFING:\n\n**TEMA:** ${input.tema}\n**NICHO:** ${input.nicho}\n**CTA:** ${input.cta || 'Salve esse post!'}\n\n═══════════════════════════════════════\nPESQUISA\n═══════════════════════════════════════\n\nRESUMO: ${research.summary || '[sem pesquisa]'}\n\nSUGESTÃO HEADLINE: ${research.headline_suggestion || '[não disponível]'}\n\nGANCHOS: ${research.hooks || '[não disponível]'}\n\nDADOS: ${research.concrete_data || '[não disponível]'}\n\nERROS: ${research.errors || '[não disponível]'}\n\n═══════════════════════════════════════\n\nCrie o post DARK MODE.\n\nIMPORTANTE:\n- NÃO use travessões (—)\n- Escreva como humano, não como IA\n- Use *asteriscos* para marcar o destaque no headline\n- Legenda DENSA e ESTRUTURADA em blocos\n- Use os dados da pesquisa\n\nRetorne o JSON:`;\n\n  return {\n    model: input.model_writer || \"openai/gpt-4.1\",\n    temperature: 0.7,\n    max_tokens: 2500,\n    messages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userPrompt }\n    ],\n    response_format: {\n      type: \"json_schema\",\n      json_schema: {\n        name: \"post_simples_dark_v2\",\n        strict: true,\n        schema: {\n          type: \"object\",\n          additionalProperties: false,\n          properties: {\n            headline: { \n              type: \"string\",\n              description: \"Título com *destaque* em asteriscos, max 12 palavras\"\n            },\n            descricao: { \n              type: \"string\",\n              description: \"Complemento do título, 2-3 frases, max 40 palavras\"\n            },\n            subtitulo: { \n              type: \"string\",\n              description: \"Gancho final, 1-2 frases, max 25 palavras\"\n            },\n            legenda: { \n              type: \"string\",\n              description: \"Legenda estruturada para Instagram, 1200-1800 chars\"\n            }\n          },\n          required: [\"headline\", \"descricao\", \"subtitulo\", \"legenda\"]\n        }\n      }\n    }\n  };\n})()}}",
          "options": {}
        },
        "id": "00143036-a11d-4aae-8161-8f39e6164aea",
        "name": "Writer Dark Mode",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2304,
          -736
        ]
      },
      {
        "parameters": {
          "jsCode": "// ═══════════════════════════════════════════════════════════════\n// HTML GENERATOR — DARK MODE\n// ═══════════════════════════════════════════════════════════════\n\nconst prev = $('Switch Tipo Capa').first().json;\nconst writerRaw = $json;\n\nlet content;\ntry {\n  const responseContent = writerRaw?.choices?.[0]?.message?.content;\n  content = typeof responseContent === 'string' ? JSON.parse(responseContent) : responseContent;\n} catch (e) {\n  throw new Error('Erro ao parsear Writer Dark: ' + e.message);\n}\n\nconst headline = content.headline || '';\nconst descricao = content.descricao || '';\nconst subtitulo = content.subtitulo || '';\nconst legenda = content.legenda || '';\n\n// Processa headline com destaque\nfunction processHeadline(text) {\n  return text.replace(/\\*([^*]+)\\*/g, '<span class=\"destaque\">$1</span>');\n}\n\n// ═══════════════════════════════════════════════════════════════\n// GERAR HTML\n// ═══════════════════════════════════════════════════════════════\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=1080, height=1350\">\n  <title>Post Dark Mode</title>\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    html, body { width: 1080px; height: 1350px; overflow: hidden; }\n    body {\n      font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;\n      background: #0f0f0f;\n      color: #ffffff;\n      display: flex;\n      flex-direction: column;\n      padding: 48px;\n    }\n    .header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 80px;\n    }\n    .header-year {\n      font-size: 18px;\n      font-weight: 500;\n      color: rgba(255, 255, 255, 0.6);\n    }\n    .header-brand {\n      padding: 10px 28px;\n      border: 1.5px solid rgba(255, 255, 255, 0.3);\n      border-radius: 50px;\n      font-size: 16px;\n      font-weight: 600;\n      color: #ffffff;\n    }\n    .content {\n      flex: 1;\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n      gap: 40px;\n    }\n    .headline {\n      font-size: 72px;\n      font-weight: 800;\n      line-height: 1.1;\n      color: #ffffff;\n      letter-spacing: -2px;\n    }\n    .headline .destaque {\n      color: #2dd4bf;\n      font-style: italic;\n    }\n    .descricao {\n      font-size: 28px;\n      font-weight: 400;\n      line-height: 1.5;\n      color: rgba(255, 255, 255, 0.7);\n      max-width: 90%;\n    }\n    .subtitulo {\n      font-size: 42px;\n      font-weight: 600;\n      line-height: 1.25;\n      color: rgba(255, 255, 255, 0.85);\n    }\n    .cta-container {\n      margin-top: 40px;\n      display: flex;\n      align-items: center;\n      gap: 12px;\n    }\n    .cta-button {\n      display: inline-flex;\n      align-items: center;\n      justify-content: center;\n      padding: 18px 48px;\n      background: linear-gradient(135deg, #f97316 0%, #fb923c 100%);\n      border-radius: 50px;\n      font-size: 18px;\n      font-weight: 700;\n      color: #ffffff;\n      letter-spacing: 1px;\n      text-transform: uppercase;\n    }\n    .cta-arrow {\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      width: 56px;\n      height: 56px;\n      background: linear-gradient(135deg, #f97316 0%, #fb923c 100%);\n      border-radius: 12px;\n    }\n    .cta-arrow svg { width: 24px; height: 24px; color: #ffffff; }\n    .footer {\n      display: flex;\n      justify-content: space-between;\n      align-items: flex-end;\n      margin-top: auto;\n      padding-top: 60px;\n    }\n    .footer-left { display: flex; flex-direction: column; gap: 2px; }\n    .footer-made { font-size: 14px; font-weight: 400; color: rgba(255, 255, 255, 0.5); }\n    .footer-name { font-size: 16px; font-weight: 700; color: rgba(255, 255, 255, 0.8); text-transform: uppercase; }\n    .footer-right { display: flex; align-items: center; gap: 20px; font-size: 15px; font-weight: 500; color: rgba(255, 255, 255, 0.5); }\n  </style>\n</head>\n<body>\n  <header class=\"header\">\n    <span class=\"header-year\">©2025</span>\n    <span class=\"header-brand\">zoryon</span>\n    <span class=\"header-year\">©2025</span>\n  </header>\n  <main class=\"content\">\n    <h1 class=\"headline\">${processHeadline(headline)}</h1>\n    <p class=\"descricao\">${descricao}</p>\n    <h2 class=\"subtitulo\">${subtitulo}</h2>\n    <div class=\"cta-container\">\n      <span class=\"cta-button\">Leia a Legenda</span>\n      <span class=\"cta-arrow\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" fill=\"none\" viewBox=\"0 0 24 24\" stroke=\"currentColor\" stroke-width=\"2.5\">\n          <path stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M19 14l-7 7m0 0l-7-7m7 7V3\" />\n        </svg>\n      </span>\n    </div>\n  </main>\n  <footer class=\"footer\">\n    <div class=\"footer-left\">\n      <span class=\"footer-made\">Made By</span>\n      <span class=\"footer-name\">Jonas Silva</span>\n    </div>\n    <div class=\"footer-right\">\n      <span>©2025</span>\n      <span>@o.jonas.silva</span>\n    </div>\n  </footer>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    html: html,\n    tipo_capa: 'dark_mode',\n    conteudo: {\n      headline: headline,\n      descricao: descricao,\n      subtitulo: subtitulo,\n      legenda: legenda\n    },\n    metadata: prev.input,\n    sources: prev.research?.sources || []\n  }\n};"
        },
        "id": "41f9155f-b76e-4a8e-81dd-659d88262e72",
        "name": "HTML Dark Mode",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2592,
          -736
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "HTTP-Referer",
                "value": "https://zoryon.dev/"
              },
              {
                "name": "X-Title",
                "value": "n8n - Post Simples Writer White"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{(function () {\n  const data = $json;\n  const input = data.input || {};\n  const research = data.research || {};\n  const TONS = {\n    'educativo_didatico': 'Tom educativo e didático. Explique de forma clara, use analogias, seja acessível mas não simplista.',\n    'inspiracional': 'Tom inspiracional e motivador. Linguagem que eleva e inspira ação, histórias de superação.',\n    'provocativo': 'Tom provocativo e desafiador. Questione o status quo, perguntas retóricas, desconforto produtivo.',\n    'autoritario': 'Tom de autoridade e expertise. Demonstre conhecimento profundo, use dados, seja assertivo.',\n    'casual': 'Tom casual e conversacional. Como conversa com amigo, linguagem do dia a dia.',\n    'urgente': 'Tom de urgência. Senso de importância imediata, consequências de não agir.'\n  };\n  const ESTILOS = {\n    'direto': 'Estilo direto ao ponto. Frases curtas e impactantes. Sem rodeios.',\n    'narrativo': 'Estilo narrativo. Conte uma história, crie conexão emocional.',\n    'tecnico': 'Estilo técnico. Use terminologia do nicho, seja preciso, dados específicos.',\n    'poetico': 'Estilo poético. Metáforas, ritmo nas frases, linguagem sensorial.',\n    'informativo': 'Estilo informativo. Fatos claros, bem estruturado, fácil de digerir.'\n  };\n  const tomInstrucao = TONS[input.tom] || TONS['educativo_didatico'];\n  const estiloInstrucao = ESTILOS[input.estilo] || ESTILOS['direto'];\n  const systemPrompt = `# ZORYON — POST SIMPLES WRITER (WHITE MODE) v2.1\n\nVocê cria posts para Instagram no estilo WHITE MODE.\nVisual claro, limpo, tipografia forte com destaque em laranja/coral.\n\n## ELEMENTOS FIXOS (não gere):\n- Fundo claro (#ffffff ou #fafafa)\n- Header: ZORYON | IA FIRST\n- Destaque em laranja (#f97316)\n- CTA: \"LEIA A LEGENDA\"\n- Footer: @o.jonas.silva\n\n## ELEMENTOS QUE VOCÊ GERA:\n\n1. **HEADLINE** - Título principal com destaque\n   - Max 12 palavras\n   - Use *asteriscos* para marcar o DESTAQUE (ficará em LARANJA + ITÁLICO)\n   - O destaque deve ser a parte mais impactante/emocional\n   - Exemplo: \"Pare de *perder tempo* com estratégias que não funcionam\"\n\n2. **DESCRICAO** - Complemento do título\n   - 2-3 frases curtas\n   - Max 40 palavras\n   - Expande a ideia do título\n   - Gera curiosidade para ler a legenda\n\n3. **SUBTITULO** - Gancho final\n   - 1-2 frases\n   - Max 25 palavras\n   - Reforça a mensagem ou adiciona novo ângulo\n   - Pode ser pergunta, estatística ou afirmação forte\n\n4. **LEGENDA** - Texto completo para Instagram\n   - 1200-1800 caracteres (DENSA)\n   - Estruturada em blocos claros\n   - 3-5 hashtags no final\n\n## REGRAS DE ESCRITA ZORYON\n\n### PROIBIDO:\n- Travessões longos (—) usar vírgula ou ponto\n- Linguagem robótica ou genérica de IA\n- Frases clichês tipo \"nesse artigo vamos explorar\"\n- Expressões vazias tipo \"é importante ressaltar\"\n- Tom professoral ou distante\n- Começar com \"Você sabia que...\", \"A verdade sobre...\"\n\n### OBRIGATÓRIO:\n- Linguagem direta, humana, como conversa real\n- Frases curtas e ritmadas\n- Dados concretos (números, %, exemplos reais)\n- Tom de quem já passou por isso e está compartilhando\n- Gerar identificação imediata\n- Usar \"você\" diretamente\n- O destaque (*texto*) deve ser EMOCIONALMENTE carregado\n\n### ESTRUTURA DA LEGENDA:\n\nA legenda deve ter 5 blocos separados por linha em branco:\n\nHOOK (1-2 frases que param o scroll)\n\nCONTEXTO (por que isso importa agora, o problema real)\n\nCONTEÚDO (dados, exemplos práticos, o \"como\")\n\nINSIGHT (a grande sacada, o que muda o jogo)\n\nCTA + HASHTAGS\n\n## TOM E ESTILO\n${tomInstrucao}\n${estiloInstrucao}\n\n## OUTPUT\nRetorne APENAS JSON válido.`;\n\n  const userPrompt = `BRIEFING:\n\n**TEMA:** ${input.tema}\n**NICHO:** ${input.nicho}\n**CTA:** ${input.cta || 'Salve esse post!'}\n\n═══════════════════════════════════════\nPESQUISA\n═══════════════════════════════════════\n\nRESUMO: ${research.summary || '[sem pesquisa]'}\n\nSUGESTÃO HEADLINE: ${research.headline_suggestion || '[não disponível]'}\n\nGANCHOS: ${research.hooks || '[não disponível]'}\n\nDADOS: ${research.concrete_data || '[não disponível]'}\n\nERROS: ${research.errors || '[não disponível]'}\n\n═══════════════════════════════════════\n\nCrie o post WHITE MODE.\n\nIMPORTANTE:\n- NÃO use travessões (—)\n- Escreva como humano, não como IA\n- Use *asteriscos* para marcar o destaque no headline\n- Legenda DENSA e ESTRUTURADA em blocos\n- Use os dados da pesquisa\n\nRetorne o JSON:`;\n\n  return {\n    model: input.model_writer || \"openai/gpt-4.1\",\n    temperature: 0.7,\n    max_tokens: 2500,\n    messages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userPrompt }\n    ],\n    response_format: {\n      type: \"json_schema\",\n      json_schema: {\n        name: \"post_simples_white_v2\",\n        strict: true,\n        schema: {\n          type: \"object\",\n          additionalProperties: false,\n          properties: {\n            headline: { \n              type: \"string\",\n              description: \"Título com *destaque* em asteriscos, max 12 palavras\"\n            },\n            descricao: { \n              type: \"string\",\n              description: \"Complemento do título, 2-3 frases, max 40 palavras\"\n            },\n            subtitulo: { \n              type: \"string\",\n              description: \"Gancho final, 1-2 frases, max 25 palavras\"\n            },\n            legenda: { \n              type: \"string\",\n              description: \"Legenda estruturada para Instagram, 1200-1800 chars\"\n            }\n          },\n          required: [\"headline\", \"descricao\", \"subtitulo\", \"legenda\"]\n        }\n      }\n    }\n  };\n})()}}",
          "options": {}
        },
        "id": "b80a88c0-d2f9-428a-94f8-4be69692f451",
        "name": "Writer White Mode",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2304,
          -560
        ]
      },
      {
        "parameters": {
          "jsCode": "// ═══════════════════════════════════════════════════════════════\n// HTML GENERATOR — WHITE MODE\n// ═══════════════════════════════════════════════════════════════\n\nconst prev = $('Switch Tipo Capa').first().json;\nconst writerRaw = $json;\n\nlet content;\ntry {\n  const responseContent = writerRaw?.choices?.[0]?.message?.content;\n  content = typeof responseContent === 'string' ? JSON.parse(responseContent) : responseContent;\n} catch (e) {\n  throw new Error('Erro ao parsear Writer White: ' + e.message);\n}\n\nconst headline = content.headline || '';\nconst descricao = content.descricao || '';\nconst subtitulo = content.subtitulo || '';\nconst legenda = content.legenda || '';\n\nfunction processHeadline(text) {\n  return text.replace(/\\*([^*]+)\\*/g, '<span class=\"destaque\">$1</span>');\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=1080, height=1350\">\n  <title>Post White Mode</title>\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    html, body { width: 1080px; height: 1350px; overflow: hidden; }\n    body {\n      font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;\n      background: #fafafa;\n      color: #171717;\n      display: flex;\n      flex-direction: column;\n      padding: 48px;\n    }\n    .header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 80px;\n    }\n    .header-year {\n      font-size: 18px;\n      font-weight: 500;\n      color: rgba(23, 23, 23, 0.5);\n    }\n    .header-brand {\n      padding: 10px 28px;\n      border: 1.5px solid rgba(23, 23, 23, 0.2);\n      border-radius: 50px;\n      font-size: 16px;\n      font-weight: 600;\n      color: #171717;\n    }\n    .content {\n      flex: 1;\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n      gap: 40px;\n    }\n    .headline {\n      font-size: 72px;\n      font-weight: 800;\n      line-height: 1.1;\n      color: #171717;\n      letter-spacing: -2px;\n    }\n    .headline .destaque {\n      color: #f97316;\n      font-style: italic;\n    }\n    .descricao {\n      font-size: 28px;\n      font-weight: 400;\n      line-height: 1.5;\n      color: rgba(23, 23, 23, 0.65);\n      max-width: 90%;\n    }\n    .subtitulo {\n      font-size: 42px;\n      font-weight: 600;\n      line-height: 1.25;\n      color: rgba(23, 23, 23, 0.8);\n    }\n    .cta-container {\n      margin-top: 40px;\n      display: flex;\n      align-items: center;\n      gap: 12px;\n    }\n    .cta-button {\n      display: inline-flex;\n      align-items: center;\n      justify-content: center;\n      padding: 18px 48px;\n      background: linear-gradient(135deg, #171717 0%, #404040 100%);\n      border-radius: 50px;\n      font-size: 18px;\n      font-weight: 700;\n      color: #ffffff;\n      letter-spacing: 1px;\n      text-transform: uppercase;\n    }\n    .cta-arrow {\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      width: 56px;\n      height: 56px;\n      background: linear-gradient(135deg, #171717 0%, #404040 100%);\n      border-radius: 12px;\n    }\n    .cta-arrow svg { width: 24px; height: 24px; color: #ffffff; }\n    .footer {\n      display: flex;\n      justify-content: space-between;\n      align-items: flex-end;\n      margin-top: auto;\n      padding-top: 60px;\n    }\n    .footer-left { display: flex; flex-direction: column; gap: 2px; }\n    .footer-made { font-size: 14px; font-weight: 400; color: rgba(23, 23, 23, 0.4); }\n    .footer-name { font-size: 16px; font-weight: 700; color: rgba(23, 23, 23, 0.7); text-transform: uppercase; }\n    .footer-right { display: flex; align-items: center; gap: 20px; font-size: 15px; font-weight: 500; color: rgba(23, 23, 23, 0.4); }\n  </style>\n</head>\n<body>\n  <header class=\"header\">\n    <span class=\"header-year\">©2025</span>\n    <span class=\"header-brand\">zoryon</span>\n    <span class=\"header-year\">©2025</span>\n  </header>\n  <main class=\"content\">\n    <h1 class=\"headline\">${processHeadline(headline)}</h1>\n    <p class=\"descricao\">${descricao}</p>\n    <h2 class=\"subtitulo\">${subtitulo}</h2>\n    <div class=\"cta-container\">\n      <span class=\"cta-button\">Leia a Legenda</span>\n      <span class=\"cta-arrow\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" fill=\"none\" viewBox=\"0 0 24 24\" stroke=\"currentColor\" stroke-width=\"2.5\">\n          <path stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M19 14l-7 7m0 0l-7-7m7 7V3\" />\n        </svg>\n      </span>\n    </div>\n  </main>\n  <footer class=\"footer\">\n    <div class=\"footer-left\">\n      <span class=\"footer-made\">Made By</span>\n      <span class=\"footer-name\">Jonas Silva</span>\n    </div>\n    <div class=\"footer-right\">\n      <span>©2025</span>\n      <span>@o.jonas.silva</span>\n    </div>\n  </footer>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    html: html,\n    tipo_capa: 'white_mode',\n    conteudo: {\n      headline: headline,\n      descricao: descricao,\n      subtitulo: subtitulo,\n      legenda: legenda\n    },\n    metadata: prev.input,\n    sources: prev.research?.sources || []\n  }\n};"
        },
        "id": "1dad5e24-1034-4ae7-a584-d269e45cacc7",
        "name": "HTML White Mode",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2592,
          -560
        ]
      },
      {
        "parameters": {
          "jsCode": "// ═══════════════════════════════════════════════════════════════\n// HTML GENERATOR — TWITTER MODE v2.1\n// Canvas: 1080x1350 | Área útil: 1080x1080 (centralizada)\n// Header/Footer ficam FORA da área útil\n// ═══════════════════════════════════════════════════════════════\n\nconst prev = $('Switch Tipo Capa').first().json;\nconst writerRaw = $json;\n\nlet content;\ntry {\n  const responseContent = writerRaw?.choices?.[0]?.message?.content;\n  content = typeof responseContent === 'string' ? JSON.parse(responseContent) : responseContent;\n} catch (e) {\n  throw new Error('Erro ao parsear Writer Twitter: ' + e.message);\n}\n\nconst headline = content.headline || '';\nconst paragrafo1 = content.paragrafo1 || '';\nconst paragrafo2 = content.paragrafo2 || '';\nconst destaque = content.destaque || '';\nconst legenda = content.legenda || '';\n\n// ═══════════════════════════════════════════════════════════════\n// GERAR HTML\n// ═══════════════════════════════════════════════════════════════\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=1080, height=1350\">\n  <title>Post Twitter Mode</title>\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    html, body { \n      width: 1080px; \n      height: 1350px; \n      overflow: hidden;\n      font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;\n      background: #ffffff;\n      color: #000000;\n    }\n    \n    /* Container principal */\n    .container {\n      width: 100%;\n      height: 100%;\n      position: relative;\n    }\n    \n    /* Header - FORA da área útil (topo) */\n    .header {\n      position: absolute;\n      top: 40px;\n      left: 64px;\n      right: 64px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n    .header-brand {\n      font-size: 18px;\n      font-weight: 700;\n      color: #000000;\n      letter-spacing: 2px;\n      text-transform: uppercase;\n    }\n    .header-tag {\n      font-size: 18px;\n      font-weight: 600;\n      color: #000000;\n      letter-spacing: 1px;\n    }\n    \n    /* Área útil - 1080x1080 centralizada */\n    .safe-area {\n      position: absolute;\n      top: 135px;\n      left: 0;\n      width: 1080px;\n      height: 1080px;\n      padding: 40px 64px;\n      display: flex;\n      flex-direction: column;\n    }\n    \n    /* Autor */\n    .author {\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      margin-bottom: 36px;\n      margin-top: 20px;\n    }\n    .avatar {\n      width: 64px;\n      height: 64px;\n      border-radius: 50%;\n      overflow: hidden;\n      background: #1a1a1a;\n      flex-shrink: 0;\n    }\n    .avatar img {\n      width: 100%;\n      height: 100%;\n      object-fit: cover;\n    }\n    .author-info {\n      display: flex;\n      flex-direction: column;\n      gap: 2px;\n    }\n    .author-name {\n      display: flex;\n      align-items: center;\n      gap: 8px;\n      font-size: 22px;\n      font-weight: 700;\n      color: #000000;\n    }\n    .verified {\n      width: 22px;\n      height: 22px;\n      fill: #1d9bf0;\n    }\n    .author-handle {\n      font-size: 17px;\n      font-weight: 500;\n      color: #666666;\n    }\n    \n    /* Conteúdo */\n    .content {\n      flex: 1;\n      display: flex;\n      flex-direction: column;\n    }\n    \n    /* Headline */\n    .headline {\n      font-size: 58px;\n      font-weight: 800;\n      line-height: 1.1;\n      color: #000000;\n      margin-bottom: 32px;\n      letter-spacing: -2px;\n    }\n    \n    /* Corpo */\n    .body {\n      display: flex;\n      flex-direction: column;\n      gap: 24px;\n    }\n    .body p {\n      font-size: 26px;\n      font-weight: 400;\n      line-height: 1.4;\n      color: #1a1a1a;\n    }\n    .body p.destaque {\n      font-weight: 700;\n      color: #000000;\n    }\n    \n    /* CTA Button - DENTRO da área útil */\n    .cta-container {\n      margin-top: auto;\n      padding-bottom: 20px;\n    }\n    .cta-button {\n      display: inline-flex;\n      align-items: center;\n      gap: 16px;\n    }\n    .cta-text {\n      padding: 18px 56px;\n      background: #8b7cf7;\n      border-radius: 12px;\n      font-size: 16px;\n      font-weight: 700;\n      color: #ffffff;\n      letter-spacing: 1px;\n      text-transform: uppercase;\n    }\n    .cta-arrow {\n      width: 52px;\n      height: 52px;\n      background: #f0f0f0;\n      border-radius: 12px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .cta-arrow svg {\n      width: 24px;\n      height: 24px;\n      stroke: #666666;\n      stroke-width: 2.5;\n      fill: none;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <!-- Header - FORA da área útil -->\n    <header class=\"header\">\n      <span class=\"header-brand\">Zoryon</span>\n      <span class=\"header-tag\">IA First</span>\n    </header>\n    \n    <!-- Área útil 1080x1080 -->\n    <main class=\"safe-area\">\n      <div class=\"author\">\n        <div class=\"avatar\">\n          <img src=\"https://res.cloudinary.com/dbgwlovic/image/upload/v1752350264/foto_jonas_silva_-_mobile_e05zam.webp\" alt=\"Jonas Silva\">\n        </div>\n        <div class=\"author-info\">\n          <span class=\"author-name\">\n            Jonas Silva\n            <svg class=\"verified\" viewBox=\"0 0 24 24\">\n              <path d=\"M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z\" fill=\"#1d9bf0\"/>\n            </svg>\n          </span>\n          <span class=\"author-handle\">@o.jonas.silva</span>\n        </div>\n      </div>\n      \n      <div class=\"content\">\n        <h1 class=\"headline\">${headline}</h1>\n        \n        <div class=\"body\">\n          <p>${paragrafo1}</p>\n          <p>${paragrafo2}</p>\n          <p class=\"destaque\">**${destaque}**</p>\n        </div>\n      </div>\n      \n      <div class=\"cta-container\">\n        <div class=\"cta-button\">\n          <span class=\"cta-text\">Leia a Legenda</span>\n          <span class=\"cta-arrow\">\n            <svg viewBox=\"0 0 24 24\">\n              <path d=\"M12 5v14M5 12l7 7 7-7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n            </svg>\n          </span>\n        </div>\n      </div>\n    </main>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    html: html,\n    tipo_capa: 'twitter_mode',\n    conteudo: {\n      headline: headline,\n      paragrafo1: paragrafo1,\n      paragrafo2: paragrafo2,\n      destaque: destaque,\n      legenda: legenda\n    },\n    metadata: prev.input,\n    sources: prev.research?.sources || []\n  }\n};"
        },
        "id": "f220b6ea-2d75-4fff-b704-f9399a1ab5ea",
        "name": "Writer Twitter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2592,
          -384
        ]
      },
      {
        "parameters": {
          "jsCode": "// ═══════════════════════════════════════════════════════════════\n// HTML GENERATOR — SUPER HEADLINE MODE v2.0\n// Estrutura: Header, Grid, Headline gigante com destaque, CTA, Footer\n// ═══════════════════════════════════════════════════════════════\n\nconst prev = $('Switch Tipo Capa').first().json;\nconst writerRaw = $json;\n\nlet content;\ntry {\n  const responseContent = writerRaw?.choices?.[0]?.message?.content;\n  content = typeof responseContent === 'string' ? JSON.parse(responseContent) : responseContent;\n} catch (e) {\n  throw new Error('Erro ao parsear Writer Super Headline: ' + e.message);\n}\n\nconst headline = content.headline || '';\nconst legenda = content.legenda || '';\n\n// Processa headline com destaque em laranja itálico\nfunction processHeadline(text) {\n  return text.replace(/\\*([^*]+)\\*/g, '<span class=\"destaque\">$1</span>');\n}\n\n// ═══════════════════════════════════════════════════════════════\n// GERAR HTML\n// ═══════════════════════════════════════════════════════════════\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=1080, height=1350\">\n  <title>Post Super Headline</title>\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    html, body { width: 1080px; height: 1350px; overflow: hidden; }\n    body {\n      font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;\n      background: #ffffff;\n      color: #000000;\n      display: flex;\n      flex-direction: column;\n      padding: 48px 64px;\n      position: relative;\n    }\n    \n    /* Grid de fundo */\n    .grid-bg {\n      position: absolute;\n      top: 0;\n      left: 0;\n      right: 0;\n      bottom: 0;\n      background-image: \n        linear-gradient(to right, #e5e5e5 1px, transparent 1px),\n        linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);\n      background-size: 120px 120px;\n      pointer-events: none;\n      z-index: 0;\n    }\n    \n    /* Conteúdo sobre o grid */\n    .content-wrapper {\n      position: relative;\n      z-index: 1;\n      display: flex;\n      flex-direction: column;\n      height: 100%;\n    }\n    \n    /* Header */\n    .header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 60px;\n    }\n    .header-year {\n      font-size: 16px;\n      font-weight: 500;\n      color: #1a1a1a;\n    }\n    .header-brand {\n      padding: 10px 28px;\n      border: 1.5px solid #1a1a1a;\n      border-radius: 50px;\n      font-size: 16px;\n      font-weight: 600;\n      color: #1a1a1a;\n    }\n    \n    /* Headline gigante */\n    .headline-container {\n      flex: 1;\n      display: flex;\n      align-items: center;\n    }\n    .headline {\n      font-size: 115px;\n      font-weight: 700;\n      line-height: 1.05;\n      color: #1a1a1a;\n      letter-spacing: -3px;\n    }\n    .headline .destaque {\n      color: #f97316;\n      font-style: italic;\n    }\n    \n    /* CTA */\n    .cta-container {\n      margin-bottom: 48px;\n    }\n    .cta-button {\n      display: inline-flex;\n      align-items: center;\n      gap: 16px;\n    }\n    .cta-text {\n      padding: 20px 64px;\n      background: #8b7cf7;\n      border-radius: 50px;\n      font-size: 18px;\n      font-weight: 700;\n      color: #ffffff;\n      letter-spacing: 1px;\n      text-transform: uppercase;\n    }\n    .cta-arrow {\n      width: 56px;\n      height: 56px;\n      background: #f0f0f0;\n      border-radius: 12px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .cta-arrow svg {\n      width: 28px;\n      height: 28px;\n      stroke: #8b7cf7;\n      stroke-width: 2.5;\n      fill: none;\n    }\n    \n    /* Footer */\n    .footer {\n      display: flex;\n      justify-content: space-between;\n      align-items: flex-end;\n    }\n    .footer-left {\n      display: flex;\n      flex-direction: column;\n      gap: 2px;\n    }\n    .footer-label {\n      font-size: 14px;\n      font-weight: 400;\n      color: #666666;\n    }\n    .footer-name {\n      font-size: 16px;\n      font-weight: 700;\n      color: #1a1a1a;\n      text-transform: uppercase;\n    }\n    .footer-right {\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      font-size: 14px;\n      font-weight: 500;\n      color: #666666;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"grid-bg\"></div>\n  \n  <div class=\"content-wrapper\">\n    <header class=\"header\">\n      <span class=\"header-year\">©2025</span>\n      <span class=\"header-brand\">zoryon</span>\n      <span class=\"header-year\">©2025</span>\n    </header>\n    \n    <main class=\"headline-container\">\n      <h1 class=\"headline\">${processHeadline(headline)}</h1>\n    </main>\n    \n    <div class=\"cta-container\">\n      <div class=\"cta-button\">\n        <span class=\"cta-text\">Leia a Legenda</span>\n        <span class=\"cta-arrow\">\n          <svg viewBox=\"0 0 24 24\">\n            <path d=\"M12 5v14M5 12l7 7 7-7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n          </svg>\n        </span>\n      </div>\n    </div>\n    \n    <footer class=\"footer\">\n      <div class=\"footer-left\">\n        <span class=\"footer-label\">Made By</span>\n        <span class=\"footer-name\">Jonas Silva</span>\n      </div>\n      <div class=\"footer-right\">\n        <span>©2025</span>\n        <span>@o.jonas.silva</span>\n      </div>\n    </footer>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    html: html,\n    tipo_capa: 'super_headline',\n    conteudo: {\n      headline: headline,\n      legenda: legenda\n    },\n    metadata: prev.input,\n    sources: prev.research?.sources || []\n  }\n};"
        },
        "id": "a72f5fe3-363d-490a-ad63-f8f6612d0f25",
        "name": "Writer Super Headline",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2592,
          -176
        ]
      },
      {
        "parameters": {
          "content": "## 📥 ENTRADA\n\nRecebe payload do workflow pai.\nPrepara variáveis e modelos.",
          "width": 400,
          "color": 4
        },
        "id": "af0a71ed-8553-4903-91a5-3463f63a2e4b",
        "name": "📥 Entrada",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -416,
          -320
        ]
      },
      {
        "parameters": {
          "content": "## 🔍 PESQUISA\n\n1. **Planner** → Gera queries\n2. **Tavily Loop** → Busca web\n3. **Consolidar** → Organiza dados\n4. **Synthesizer** → Extrai insights\n\nMesma densidade do carrossel!",
          "height": 200,
          "width": 500,
          "color": 5
        },
        "id": "ca78cf03-a24e-47b2-b2ff-ae5c93cb5332",
        "name": "🔍 Pesquisa",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          272,
          -624
        ]
      },
      {
        "parameters": {
          "content": "## ✍️ WRITERS\n\nCada tipo de capa tem seu Writer otimizado:\n- Dark Mode ✅\n- White Mode ✅\n- Twitter 🔲\n- Super Headline 🔲",
          "height": 180,
          "width": 300,
          "color": 6
        },
        "id": "638be93c-1df7-4efa-b97a-641e21c104fc",
        "name": "✍️ Writers",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1696,
          -736
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "HTTP-Referer",
                "value": "https://zoryon.dev/"
              },
              {
                "name": "X-Title",
                "value": "n8n - Post Simples Writer White"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{(function () {\n  const data = $json;\n  const input = data.input || {};\n  const research = data.research || {};\n  const TONS = {\n    'educativo_didatico': 'Tom educativo e didático. Explique de forma clara, use analogias, seja acessível mas não simplista.',\n    'inspiracional': 'Tom inspiracional e motivador. Linguagem que eleva e inspira ação, histórias de superação.',\n    'provocativo': 'Tom provocativo e desafiador. Questione o status quo, perguntas retóricas, desconforto produtivo.',\n    'autoritario': 'Tom de autoridade e expertise. Demonstre conhecimento profundo, use dados, seja assertivo.',\n    'casual': 'Tom casual e conversacional. Como conversa com amigo, linguagem do dia a dia.',\n    'urgente': 'Tom de urgência. Senso de importância imediata, consequências de não agir.'\n  };\n  const ESTILOS = {\n    'direto': 'Estilo direto ao ponto. Frases curtas e impactantes. Sem rodeios.',\n    'narrativo': 'Estilo narrativo. Conte uma história, crie conexão emocional.',\n    'tecnico': 'Estilo técnico. Use terminologia do nicho, seja preciso, dados específicos.',\n    'poetico': 'Estilo poético. Metáforas, ritmo nas frases, linguagem sensorial.',\n    'informativo': 'Estilo informativo. Fatos claros, bem estruturado, fácil de digerir.'\n  };\n  const tomInstrucao = TONS[input.tom] || TONS['provocativo'];\n  const estiloInstrucao = ESTILOS[input.estilo] || ESTILOS['direto'];\n  const systemPrompt = `# ZORYON — POST SIMPLES WRITER (SUPER HEADLINE) v2.1\n\nVocê cria posts com HEADLINE GIGANTE que domina toda a tela.\nVisual minimalista: fundo branco com grid sutil, tipografia bold massiva.\n\n## ELEMENTOS FIXOS (não gere):\n- Header: ©2025 | zoryon | ©2025\n- Grid de fundo sutil\n- CTA: \"LEIA A LEGENDA\"\n- Footer: Made By JONAS SILVA | ©2025 @o.jonas.silva\n\n## O QUE VOCÊ GERA:\n\n### HEADLINE\n- Frase GIGANTE que ocupa a tela inteira\n- Max 8-12 palavras\n- Use *asteriscos* para DESTAQUE (ficará LARANJA e ITÁLICO)\n- O destaque deve ter 2-4 palavras estratégicas\n- Pode ocupar múltiplas linhas\n- Pense em algo que viraria POSTER, TATUAGEM ou OUTDOOR\n\nExemplos de headlines:\n- \"Seu título *entra aqui* seu título entra aqui\"\n- \"O problema não é *falta de tempo* é falta de prioridade\"\n- \"Você não precisa de *mais informação* precisa de ação\"\n- \"Pare de pedir *permissão* para crescer\"\n- \"O medo que você sente é *o GPS* do seu próximo nível\"\n- \"Seu *maior erro* está na sua *zona de conforto*\"\n\n### LEGENDA\n- 1200-1800 caracteres (DENSA)\n- A legenda CARREGA todo o conteúdo educativo\n- Estruturada em blocos claros\n- 3-5 hashtags no final\n\n## REGRAS DE ESCRITA ZORYON\n\n### PROIBIDO:\n- Travessões longos (—) usar vírgula ou ponto\n- Linguagem robótica ou genérica de IA\n- Frases clichês tipo \"nesse artigo vamos explorar\"\n- Expressões vazias tipo \"é importante ressaltar\"\n- Tom professoral ou distante\n- Começar com \"Você sabia que...\"\n\n### OBRIGATÓRIO:\n- Linguagem direta, humana, como conversa real\n- Frases curtas e ritmadas\n- Dados concretos (números, %, exemplos reais)\n- Tom de quem já passou por isso e está compartilhando\n- Gerar identificação imediata\n- Usar \"você\" diretamente\n\n### REGRAS DO DESTAQUE NO HEADLINE:\n- Use *asteriscos* ao redor das palavras que serão LARANJA + ITÁLICO\n- Escolha palavras-chave que carregam a emoção principal\n- Pode ter 1 ou 2 trechos em destaque\n- O destaque é o que GRUDA na mente\n\n### ESTRUTURA DA LEGENDA:\n\nA legenda deve ter 5 blocos separados por linha em branco:\n\nHOOK (1-2 frases que param o scroll)\n\nCONTEXTO (por que isso importa agora, o problema real)\n\nCONTEÚDO (dados, exemplos práticos, o \"como\")\n\nINSIGHT (a grande sacada, o que muda o jogo)\n\nCTA + HASHTAGS\n\n## TOM E ESTILO\n${tomInstrucao}\n${estiloInstrucao}\n\n## OUTPUT\nRetorne APENAS JSON válido.`;\n\n  const userPrompt = `BRIEFING:\n\n**TEMA:** ${input.tema}\n**NICHO:** ${input.nicho}\n**CTA:** ${input.cta || 'Salve esse post!'}\n\n═══════════════════════════════════════\nPESQUISA\n═══════════════════════════════════════\n\nRESUMO: ${research.summary || '[sem pesquisa]'}\n\nSUGESTÃO HEADLINE: ${research.headline_suggestion || '[não disponível]'}\n\nGANCHOS: ${research.hooks || '[não disponível]'}\n\nDADOS: ${research.concrete_data || '[não disponível]'}\n\nERROS: ${research.errors || '[não disponível]'}\n\n═══════════════════════════════════════\n\nCrie o post SUPER HEADLINE.\n\nIMPORTANTE:\n- NÃO use travessões (—)\n- Escreva como humano, não como IA\n- Headline com *destaque* em asteriscos (ficará laranja/itálico)\n- Headline deve ser MEMORÁVEL, tipo poster ou tatuagem\n- Legenda DENSA e ESTRUTURADA em blocos\n- Use os dados da pesquisa\n\nRetorne o JSON:`;\n\n  return {\n    model: input.model_writer || \"openai/gpt-4.1\",\n    temperature: 0.8,\n    max_tokens: 2500,\n    messages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userPrompt }\n    ],\n    response_format: {\n      type: \"json_schema\",\n      json_schema: {\n        name: \"post_simples_super_headline_v2\",\n        strict: true,\n        schema: {\n          type: \"object\",\n          additionalProperties: false,\n          properties: {\n            headline: { \n              type: \"string\",\n              description: \"Headline GIGANTE com *asteriscos* para destaque laranja/itálico. Max 12 palavras.\"\n            },\n            legenda: { \n              type: \"string\",\n              description: \"Legenda estruturada para Instagram, 1200-1800 chars.\"\n            }\n          },\n          required: [\"headline\", \"legenda\"]\n        }\n      }\n    }\n  };\n})()}}",
          "options": {}
        },
        "id": "dcafb118-afba-4afb-a30c-c7fb653567fe",
        "name": "Writer Super Headline1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2304,
          -176
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "HTTP-Referer",
                "value": "https://zoryon.dev/"
              },
              {
                "name": "X-Title",
                "value": "n8n - Post Simples Twitter"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{(function () {\n  const data = $json;\n  const input = data.input || {};\n  const research = data.research || {};\n  const TONS = {\n    'educativo_didatico': 'Tom educativo e didático. Explique de forma clara, use analogias, seja acessível mas não simplista.',\n    'inspiracional': 'Tom inspiracional e motivador. Linguagem que eleva e inspira ação, histórias de superação.',\n    'provocativo': 'Tom provocativo e desafiador. Questione o status quo, perguntas retóricas, desconforto produtivo.',\n    'autoritario': 'Tom de autoridade e expertise. Demonstre conhecimento profundo, use dados, seja assertivo.',\n    'casual': 'Tom casual e conversacional. Como conversa com amigo, linguagem do dia a dia.',\n    'urgente': 'Tom de urgência. Senso de importância imediata, consequências de não agir.'\n  };\n  const ESTILOS = {\n    'direto': 'Estilo direto ao ponto. Frases curtas e impactantes. Sem rodeios.',\n    'narrativo': 'Estilo narrativo. Conte uma história, crie conexão emocional.',\n    'tecnico': 'Estilo técnico. Use terminologia do nicho, seja preciso, dados específicos.',\n    'poetico': 'Estilo poético. Metáforas, ritmo nas frases, linguagem sensorial.',\n    'informativo': 'Estilo informativo. Fatos claros, bem estruturado, fácil de digerir.'\n  };\n  const tomInstrucao = TONS[input.tom] || TONS['educativo_didatico'];\n  const estiloInstrucao = ESTILOS[input.estilo] || ESTILOS['direto'];\n  const systemPrompt = `# ZORYON — POST SIMPLES WRITER (TWITTER MODE) v2.1\n\nVocê cria posts no estilo TWEET para Instagram.\nVisual limpo, fundo branco, tipografia forte.\n\n## ELEMENTOS FIXOS (não gere):\n- Header: ZORYON | IA FIRST\n- Avatar + Nome: Jonas Silva (verificado) @o.jonas.silva\n- CTA: \"LEIA A LEGENDA\"\n\n## ELEMENTOS QUE VOCÊ GERA:\n\n1. **HEADLINE** - Título grande e impactante\n   - Max 15 palavras, pode ocupar 2-3 linhas\n   - Chamativo, gera curiosidade imediata\n\n2. **PARAGRAFO1** - Primeiro parágrafo\n   - 1-2 frases, contexto ou gancho inicial\n   - Max 80 palavras\n\n3. **PARAGRAFO2** - Segundo parágrafo  \n   - 1-2 frases, dado concreto ou exemplo\n   - Max 80 palavras\n\n4. **DESTAQUE** - Conclusão em negrito\n   - 1-2 frases, insight principal\n   - Ficará em NEGRITO no visual\n   - Max 60 palavras\n\n5. **LEGENDA** - Texto completo para Instagram\n   - 1200-1800 caracteres (DENSA)\n   - Estruturada em blocos claros\n   - 3-5 hashtags no final\n\n## REGRAS DE ESCRITA ZORYON\n\n### PROIBIDO:\n- Travessões longos (—) usar vírgula ou ponto\n- Linguagem robótica ou genérica de IA\n- Frases clichês tipo \"nesse artigo vamos explorar\"\n- Expressões vazias tipo \"é importante ressaltar\"\n- Tom professoral ou distante\n- Começar com \"Você sabia que...\"\n\n### OBRIGATÓRIO:\n- Linguagem direta, humana, como conversa real\n- Frases curtas e ritmadas\n- Dados concretos (números, %, exemplos reais)\n- Tom de quem já passou por isso e está compartilhando\n- Gerar identificação imediata\n- Usar \"você\" diretamente\n\n### ESTRUTURA DA LEGENDA:\n\nA legenda deve ter 5 blocos separados por linha em branco:\n\nHOOK (1-2 frases que param o scroll)\n\nCONTEXTO (por que isso importa agora, o problema real)\n\nCONTEÚDO (dados, exemplos práticos, o \"como\")\n\nINSIGHT (a grande sacada, o que muda o jogo)\n\nCTA + HASHTAGS\n\n## TOM E ESTILO\n${tomInstrucao}\n${estiloInstrucao}\n\n## OUTPUT\nRetorne APENAS JSON válido.`;\n\n  const userPrompt = `BRIEFING:\n\n**TEMA:** ${input.tema}\n**NICHO:** ${input.nicho}\n**CTA:** ${input.cta || 'Salve esse post!'}\n\n═══════════════════════════════════════\nPESQUISA\n═══════════════════════════════════════\n\nRESUMO: ${research.summary || '[sem pesquisa]'}\n\nSUGESTÃO HEADLINE: ${research.headline_suggestion || '[não disponível]'}\n\nGANCHOS: ${research.hooks || '[não disponível]'}\n\nDADOS: ${research.concrete_data || '[não disponível]'}\n\nERROS: ${research.errors || '[não disponível]'}\n\n═══════════════════════════════════════\n\nCrie o post TWITTER MODE.\n\nIMPORTANTE:\n- NÃO use travessões (—)\n- Escreva como humano, não como IA\n- Legenda DENSA e ESTRUTURADA em blocos\n- Use os dados da pesquisa\n\nRetorne o JSON:`;\n\n  return {\n    model: input.model_writer || \"openai/gpt-4.1\",\n    temperature: 0.7,\n    max_tokens: 2500,\n    messages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userPrompt }\n    ],\n    response_format: {\n      type: \"json_schema\",\n      json_schema: {\n        name: \"post_simples_twitter_v2\",\n        strict: true,\n        schema: {\n          type: \"object\",\n          additionalProperties: false,\n          properties: {\n            headline: { \n              type: \"string\",\n              description: \"Título impactante, max 15 palavras\"\n            },\n            paragrafo1: { \n              type: \"string\",\n              description: \"Contexto ou gancho inicial\"\n            },\n            paragrafo2: { \n              type: \"string\",\n              description: \"Desenvolvimento ou dado concreto\"\n            },\n            destaque: { \n              type: \"string\",\n              description: \"Conclusão em negrito, insight principal\"\n            },\n            legenda: { \n              type: \"string\",\n              description: \"Legenda estruturada para Instagram, 1200-1800 chars\"\n            }\n          },\n          required: [\"headline\", \"paragrafo1\", \"paragrafo2\", \"destaque\", \"legenda\"]\n        }\n      }\n    }\n  };\n})()}}",
          "options": {}
        },
        "id": "05d21123-d2a0-46a1-8e05-365a84f1517e",
        "name": "Writer Twitter2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2304,
          -384
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vznhmeyhvlilgddgjjzs.supabase.co/functions/v1/update-job",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-token",
                "value": "IU2uXKnFSBzXhK1uR2StrOKKDLSSTy5A"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"job_id\": \"{{ $('Organizar Dados').first().json.job_id }}\",\n  \"status\": \"processing\",\n  \"progress\": 90,\n  \"current_step\": \"generating_cover\"\n}",
          "options": {}
        },
        "id": "e5154cf1-4fb4-4b62-a316-66839005f542",
        "name": "Status 90 Cover",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3088,
          -640
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vznhmeyhvlilgddgjjzs.supabase.co/functions/v1/update-job",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-token",
                "value": "IU2uXKnFSBzXhK1uR2StrOKKDLSSTy5A"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"job_id\": \"{{ $('Organizar Dados').first().json.job_id }}\",\n  \"status\": \"processing\",\n  \"progress\": 15,\n  \"current_step\": \"researching\"\n}",
          "options": {}
        },
        "id": "c5c555e8-dcd1-415f-9ad0-bf28b903cf5a",
        "name": "CAR Status 15 Researching",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          32,
          -320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vznhmeyhvlilgddgjjzs.supabase.co/functions/v1/update-job",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-token",
                "value": "IU2uXKnFSBzXhK1uR2StrOKKDLSSTy5A"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"job_id\": \"{{ $('Organizar Dados').first().json.job_id }}\",\n  \"status\": \"processing\",\n  \"progress\": 45,\n  \"current_step\": \"synthesizing_research\"\n}",
          "options": {}
        },
        "id": "fbc5ad97-d801-4321-abba-7b112909f7e0",
        "name": "CAR Status 35 Synthesizing",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1184,
          -576
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vznhmeyhvlilgddgjjzs.supabase.co/functions/v1/update-job",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-token",
                "value": "IU2uXKnFSBzXhK1uR2StrOKKDLSSTy5A"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"job_id\": \"{{ $('Organizar Dados').first().json.job_id }}\",\n  \"status\": \"processing\",\n  \"progress\": 70,\n  \"current_step\": \"writing_content\"\n}",
          "options": {}
        },
        "id": "60531bcb-2485-4574-b9f5-63cea4601ffc",
        "name": "CAR Status 70 Writing",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2592,
          -928
        ]
      },
      {
        "parameters": {},
        "id": "9212aeb1-92d2-4b64-b87e-67660e13eb83",
        "name": "PS Merge HTML",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          3088,
          -448
        ],
        "notesInFlow": true,
        "alwaysOutputData": true,
        "notes": "Recebe output de qualquer HTML Generator (Dark/White/Twitter/SuperHeadline)"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.screenshotone.com/take",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Access-Key",
                "value": "wKC4TbVSpS-e4g"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ {\n  \"html\": $json.html,\n  \"viewport_width\": 1080,\n  \"viewport_height\": 1350,\n  \"format\": \"png\",\n  \"response_type\": \"json\",\n  \"cache\": true,\n  \"cache_ttl\": 86400\n} }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "49a70a9f-fca5-41e0-bafb-1133c9cdba4c",
        "name": "PS Screenshot Render",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3328,
          -448
        ]
      },
      {
        "parameters": {
          "jsCode": "// ═══════════════════════════════════════════════════════════════\n// POST SIMPLES - PREPARAR RESULTADO FINAL\n// ═══════════════════════════════════════════════════════════════\n\n// Dados do screenshot\nconst screenshot = $('PS Screenshot Render').first().json;\n\n// Dados do HTML Generator (vem do Merge)\nconst htmlData = $('PS Merge HTML').first().json;\n\n// Dados originais do input (estão em metadata)\nconst input = htmlData.metadata || {};\n\n// Conteúdo gerado pelo Writer\nconst conteudo = htmlData.conteudo || {};\n\n// URL da imagem renderizada\nconst imageUrl = screenshot.screenshot || screenshot.url || screenshot.cache_url;\n\n// ═══════════════════════════════════════════════════════════════\n// MONTAR RESULTADO\n// ═══════════════════════════════════════════════════════════════\n\nconst resultado = {\n  // Imagem renderizada\n  imagem_url: imageUrl,\n  imagem_download: imageUrl,\n  \n  // Conteúdo textual (legenda vai para o Instagram)\n  legenda: conteudo.legenda || '',\n  \n  // Dados da capa/imagem\n  capa: {\n    tipo: htmlData.tipo_capa || 'dark_mode',\n    headline: conteudo.headline || '',\n    descricao: conteudo.descricao || conteudo.paragrafo1 || '',\n    subtitulo: conteudo.subtitulo || conteudo.destaque || '',\n    // Campos específicos do Twitter Mode\n    paragrafo1: conteudo.paragrafo1 || null,\n    paragrafo2: conteudo.paragrafo2 || null,\n    destaque: conteudo.destaque || null\n  },\n  \n  // Fontes da pesquisa (para referência)\n  fontes: htmlData.sources || [],\n  \n  // Metadata completo\n  metadata: {\n    tema: input.tema || '',\n    nicho: input.nicho || '',\n    tom: input.tom || '',\n    estilo: input.estilo || '',\n    tipo_capa: htmlData.tipo_capa || 'dark_mode',\n    model_writer: input.model_writer || 'openai/gpt-4.1',\n    created_at: new Date().toISOString()\n  }\n};\n\n// ═══════════════════════════════════════════════════════════════\n// OUTPUT\n// ═══════════════════════════════════════════════════════════════\n\nreturn [{\n  json: {\n    job_id: input.job_id,\n    status: 'completed',\n    progress: 100,\n    current_step: 'completed',\n    resultado: resultado\n  }\n}];\n"
        },
        "id": "f4b3ae17-2a75-4b01-b6fd-e545f780ddfe",
        "name": "PS Preparar Final",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3552,
          -448
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vznhmeyhvlilgddgjjzs.supabase.co/functions/v1/update-job",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-token",
                "value": "IU2uXKnFSBzXhK1uR2StrOKKDLSSTy5A"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"job_id\": \"{{ $('Organizar Dados').first().json.job_id }}\"\",\n  \"status\": \"completed\",\n  \"progress\": 100,\n  \"current_step\": \"completed\",\n  \"resultado\": {{ JSON.stringify($json.resultado) }}\n}",
          "options": {}
        },
        "id": "a9dddad9-12cc-4bc9-b64f-6708d693e772",
        "name": "PS Status 100 Done",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3776,
          -448
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Organizar Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Organizar Dados": {
        "main": [
          [
            {
              "node": "OpenRouter Planner",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Planner": {
        "main": [
          [
            {
              "node": "Parse Planner",
              "type": "main",
              "index": 0
            },
            {
              "node": "CAR Status 15 Researching",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Planner": {
        "main": [
          [
            {
              "node": "Tavily Search Inicial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tavily Search Inicial": {
        "main": [
          [
            {
              "node": "Extrair Queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair Queries": {
        "main": [
          [
            {
              "node": "Loop Queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Queries": {
        "main": [
          [
            {
              "node": "Consolidar Pesquisa",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delay 2s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delay 2s": {
        "main": [
          [
            {
              "node": "Tavily Search Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tavily Search Loop": {
        "main": [
          [
            {
              "node": "Processar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Processar Resultado": {
        "main": [
          [
            {
              "node": "Loop Queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidar Pesquisa": {
        "main": [
          [
            {
              "node": "Research Synthesizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Research Synthesizer": {
        "main": [
          [
            {
              "node": "Parse Synthesis",
              "type": "main",
              "index": 0
            },
            {
              "node": "CAR Status 35 Synthesizing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Synthesis": {
        "main": [
          [
            {
              "node": "Switch Tipo Capa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Tipo Capa": {
        "main": [
          [
            {
              "node": "Writer Dark Mode",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Writer White Mode",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Writer Twitter2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Writer Super Headline1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Escolher Aleatório",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escolher Aleatório": {
        "main": [
          [
            {
              "node": "Switch Tipo Capa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Writer Dark Mode": {
        "main": [
          [
            {
              "node": "HTML Dark Mode",
              "type": "main",
              "index": 0
            },
            {
              "node": "CAR Status 70 Writing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML Dark Mode": {
        "main": [
          [
            {
              "node": "PS Merge HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Writer White Mode": {
        "main": [
          [
            {
              "node": "HTML White Mode",
              "type": "main",
              "index": 0
            },
            {
              "node": "CAR Status 70 Writing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML White Mode": {
        "main": [
          [
            {
              "node": "PS Merge HTML",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Writer Twitter": {
        "main": [
          [
            {
              "node": "PS Merge HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Writer Super Headline": {
        "main": [
          [
            {
              "node": "PS Merge HTML",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Writer Super Headline1": {
        "main": [
          [
            {
              "node": "Writer Super Headline",
              "type": "main",
              "index": 0
            },
            {
              "node": "CAR Status 70 Writing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Writer Twitter2": {
        "main": [
          [
            {
              "node": "Writer Twitter",
              "type": "main",
              "index": 0
            },
            {
              "node": "CAR Status 70 Writing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PS Merge HTML": {
        "main": [
          [
            {
              "node": "PS Screenshot Render",
              "type": "main",
              "index": 0
            },
            {
              "node": "Status 90 Cover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PS Screenshot Render": {
        "main": [
          [
            {
              "node": "PS Preparar Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PS Preparar Final": {
        "main": [
          [
            {
              "node": "PS Status 100 Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "When Executed by Another Workflow": [
        {
          "job_id": "job_teste_post_simples_001",
          "tema": "Como a inteligência artificial está eliminando 80% das tarefas repetitivas em pequenos negócios",
          "nicho": "Negócios e Empreendedorismo",
          "tom": "educativo_didatico",
          "estilo": "direto",
          "estilo_imagem": "minimalista",
          "objetivo": "educacao",
          "tipo_post": "post_simples",
          "tipo_capa": "super_headline",
          "cta": "Comente IA se você quer aprender mais sobre automação!",
          "user_id": "ffa01add-47a8-4852-bbf1-78b72812fd26",
          "user_email": "jonas.silva@zoryon.dev",
          "user_name": "Jonas Silva",
          "timestamp": "2025-01-15T14:00:00.000Z"
        }
      ]
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "173fd4665e3a963029ddba2311a3ead145ec736acdc358c7f1afa42e0d53b9b1"
    }
  }